* {
    font-size: 20px;
}

.start_btn button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#card1 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timeLeft {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(-5%, -5%);
    font-size: 30px;

}
#question p {
    margin: 10px;
}
#question div button {
    margin: 10px;
    color: white;
}
#question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#questionNumber {
    display: flex;
    justify-content: center;
}

#card2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#submitforHS {
    margin: 20px 0px 0px 0px;
    color: white;
}

#highscorebtn {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
}

#card3 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
